.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bck-img {
    background-image: url("./assets/shared/desktop/bg-pattern-leaf.svg");
    background-position: left  top 281px;
    background-repeat: no-repeat;
}
